* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  margin: 0 auto;
  padding: 3rem;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
}
/* styles card */
.card {
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.3em;
  width: 380px;
}
@media (min-width: 1112px) {
  .card {
    display: flex;
    justify-content: center;
    width: auto;
    flex-direction: row-reverse;
    /* border-radius: 1rem; */
    /* border: solid red; */
    height: 355px;
    width: 954px;
  }

  .img {
    border-radius: 0 0.3em 0.3em 0 !important;
  }

  .numbers {
    /* border: solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }

  .box {
    margin: 0;
    padding: 1em;
    font-size: 0.7rem;
    text-align: start;
  }

  .data-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .p-data-card {
    font-size: 0.8em;
    /* text-align: center; */
    /* padding: 0 0.5em; */
    /* border: solid; */
    padding: 0 6rem;
    text-align: justify;
  }
}
.img {
  width: 100%;
  filter: opacity(0.4) drop-shadow(0 0 0 hsl(277, 64%, 61%));
  border-radius: 0.3em 0.3em 0 0;
}

/* data card */
.data-card {
  text-align: center;
}

.h1 {
  font-size: 2rem;
}

.text-violet {
  color: hsl(277, 64%, 61%);
}

.h1,
.p-data-card,
.box {
  margin: 1em 0;
  padding: 0 1em;
}

.p-data-card {
  color: hsl(246, 11%, 51%);
}

.numbers {
  padding: 1em 0;
}

.p-box-numbers {
  font-weight: 700;
  font-size: 1.6em;
}

.p-text-box {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}
